.userCategory-container {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.userCategory_barra_individual {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border-right: 1px solid black;
    flex-grow: 1;
    font-size: 25px;
    text-align: center;
    padding-left: 15px;
}
