.categoria_barra {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    background-color: var(--amarillo);
    padding: 5px;
    box-shadow: -2px 13px 29px rgba(0, 0, 0, 0.25);
    width: 100%;
    flex-flow: nowrap;
}
.categoria_barra_individual {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    border-right: 1px solid black;
    flex-grow: 1;
    font-size: 25px;
    text-align: center;
    padding-left: 15px;
}
.categoria_barra_individual_numero{
    color: var(--gris-claro);
    padding-left: 5px;
}

