.App-contenedor-lista-ultimo {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.App-contenedor-ultimo {
  width: 70%;
}
.App-contenedor-lista {
  width: 25%;
  padding: 4px;
  box-shadow: inset 0px 0px 21px 6px rgba(0, 0, 0, 0.25);
}